<a href="/">
  <h2>MVC Example</h2>
</a></br>
{{#if message}}
<p class="text-center text-danger">{{message}}</p>
{{/if}}
<a href="/products/update">Update Products</a>
<a href="/store/">Store Info</a>
{{Stores.0.storeId}}
<h3>Products</h3><h4><a href="{{{link Store.storeId productId}}}">Store Domain Buy</a></h4>
{{#each Stores}}
{{name}}
{{this}}
{{/each}}
{{#each Products}}

<h4><a href="{{_id}}">{{name}}</a></h4>

{{sku}}

{{type}}
{{#each variants}}
{{#each option_values}}
<strong>{{option_display_name}}</strong>: <em>{{label}}</em>
{{/each}}
{{/each}}
{{/each}}
