<img src="my-first-app.png" width="200px" height="150px" />
<a href="/">
  <h2>MVC Example</h2>
</a></br>
{{#if message}}
<p class="text-center text-danger">{{message}}</p>
{{/if}}
<a href="/products/update">Update Products</a>
{{#each Stores}}
{{#if hash}}
<a href="/store/{{hash}}" + >{{{domain}}} Store Info</a>
{{/if}}
{{#else}}

{{/else}}
{{/each}}

<h3>Products</h3>
{{#each Products}}

<h4><a href="{{_id}}">{{name}}</a></h4>

{{sku}}

{{type}}
{{#each variants}}
{{#each option_values}}
<strong>{{option_display_name}}</strong>: <em>{{label}}</em>
{{/each}}
{{/each}}
{{/each}}
